html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

label {
    font-size: 40px;
    padding-left: 10px;
}

footer {
    padding: 20px 0;
    text-align: center;
}

.texto-digital, .texto-digital-b, .texto-digital-i, .texto-digital-bi {
    font-family: 'Ds-digital', Arial, sans-serif;
    color: #ff8800;
    text-shadow: 0px 0px 25px #ff8800;
    /* text-shadow: 5px 5px 15px #000; */
}

.texto-digital-b {
    font-weight: bold;
}

.texto-digital-i {
    font-style: italic;
}

.texto-digital-bi {
    font-weight: bold;
    font-style: italic;
}

.texto-normal {
    text-shadow: 5px 5px 10px #000;
    margin: 0px 10px;
}

.medidor, .icon-medidor {
    margin: 15px 0px;
}

.icon-medidor {
    float: left;
}

.icon-medidor img {
    width: 100px;
    margin: 40px 20px;
    filter: drop-shadow(5px 5px 10px #16161d);
}

.visor {
    font-size: 60px;
    padding: 20px;
}

.img-negativo {
    filter: invert(100%);
}

@media screen and (min-width: 1200px) {
    .visor {
        font-size: 80px;
    }
}