<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="https://www.sistemafibra.org.br/senai/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="SENAI" target="_blank">
                <img src="{{ url_for('static', filename='images/senai_negativo.png') }}" alt="SENAI Logo" style="width: 72px;">
            </a> <span class="mb-3 mb-md-0 text-body-secondary">
                <a href="https://github.com/alexmachadoribeiro/feira_ciencias_2025" target="_blank">
                    © 2025 Criado por Prof Alex e aluna Vanessa
                </a>
            </span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://flask.palletsprojects.com/en/stable/" aria-label="Flask" target="_blank">
                    <img src="{{ url_for('static', filename='images/flask-100.png') }}" alt="Flask logo" class="img-negativo" style="width: 84px; margin: -20px 0px">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.python.org/" aria-label="Python" target="_blank">
                    <img src="{{ url_for('static', filename='images/python_white.png') }}" alt="Python logo" style="width: 45px;">
                </a>
            </li>
        </ul>
    </footer>
</div>