{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Volume de água -->
            <div class="col-3 col-md-2 col-lg-1 icon-medidor">
                <img src="{{ url_for('static', filename='images/sea.png') }}" alt="Água" class="img-fluid">
            </div>
            <div class="col-9 col-md-4 col-lg-3 medidor">
                <div>
                    <h4 class="texto-normal">Volume de água restante:</h4>
                    <span class="texto-digital-bi visor">10</span><label class="texto-digital-bi"> l</label>
                </div>
            </div>
            <!-- Temperatura da água -->
            <div class="col-3 col-md-2 col-lg-1 icon-medidor">
                <img src="{{ url_for('static', filename='images/hot-water.png') }}" alt="Temperatura" class="img-fluid">
            </div>
            <div class="col-9 col-md-4 col-lg-3 medidor">
                <div>
                    <h4 class="texto-normal">Temperatura da água:</h4>
                    <span class="texto-digital-bi visor">100</span><label class="texto-digital-bi">Cº</label>
                </div>
            </div>
            <!-- Energia -->
            <div class="col-3 col-md-2 col-lg-1 icon-medidor">
                <img src="{{ url_for('static', filename='images/lighting.png') }}" alt="Energia" class="img-fluid">
            </div>
            <div class="col-9 col-md-4 col-lg-3 medidor">
                <div>
                    <h4 class="texto-normal">Energia:</h4>
                    <span class="texto-digital-bi visor">100</span><label class="texto-digital-bi">W</label>
                </div>
            </div>
            <!-- Tempo -->
            <div class="col-3 col-md-2 col-lg-1 icon-medidor">
                <img src="{{ url_for('static', filename='images/clock.png') }}" alt="Tempo" class="img-fluid">
            </div>
            <div class="col-9 col-md-4 col-lg-3 medidor">
                <div>
                    <h4 class="texto-normal">Tempo restante:</h4>
                    <span class="texto-digital-bi visor">10:59:59</span>
                </div>
            </div>
            <!-- Sal -->
            <div class="col-3 col-md-2 col-lg-1 icon-medidor">
                <img src="{{ url_for('static', filename='images/sea-salt.png') }}" alt="Sal" class="img-fluid">
            </div>
            <div class="col-9 col-md-4 col-lg-3 medidor">
                <div>
                    <h4 class="texto-normal">Sal:</h4>
                    <span class="texto-digital-bi visor">1000</span><label class="texto-digital-bi">g</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
